export CONTAINER_NAME="muxt_sort_example"
export POSTGRES_USER="muxtsortexample"
export POSTGRES_PASSWORD="muxtsortexample"
export DATABASE_NAME="muxtsortexample"
export POSTGRES_IMAGE="postgres"
export HOST_PORT="9877"
export CONTAINER_PORT="5432"
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${HOST_PORT}/${DATABASE_NAME}?sslmode=disable"
